beautifulsoup4
bs4
certifi
chardet
cleanco
click
Flask
Flask-Cors
html5lib
idna
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
six
soupsieve
urllib3
webencodings
Werkzeug
xlrd
